<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/newteam" method="post">
      <p>Team Name:<input type="text" name="Team Name:" value=""></p>
      <p>Coach:<input type="text" name="Coach:" value=""></p>
      <p>Point Guard:<input type="text" name="Point Guard:" value=""></p>
      <p>Shooting Guard:<input type="text" name="Shooting Guard:" value=""></p>
      <p>Small Forward:<input type="text" name="Small Forward:" value=""></p>
      <p>Power Forward:<input type="text" name="Power Forward:" value=""></p>
      <p>Power Forward:<input type="text" name="" value="Center"></p>
      <p>Center:<input type="submit"></p>
   </form>

 </body>
</html>
